/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
}
/* style */
body {
  background: #eee;
}
.globalHeader {
  margin-top: 40px;
}
@media (min-width:500px){
  .globalHeader {
    margin-top: 80px;
  }
}
.searchForm {
  display: flex;
  justify-content: space-between;
  max-width: 400px; 
}
/*媒体查询最小宽度500就不管*/
@media (min-width:500px){
  .searchForm {
    max-width: 400px;
    margin-left: auto;/*当你的宽度确认就可以使用magin来做居中*/
    margin-right: auto;
  }
}
.searchForm > input {
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 24px;
  border: 1px solid #dddddd;
  padding: 10px;
}
.searchForm > button {
  white-space: nowrap;
  background: #409eff;
  border: none;
  border-radius: 4px;
  width: 35%;
  margin-right: 20px;
  font-size: 24px;
  color: #303133;
  border: 1px solid #dddddd;
}

.globalMain {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.siteList {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*在pc端margin为0*/
@media(min-width:500px){
  .siteList{
    margin-left: 0;
    margin-right: -25px;
    justify-content: flex-start;
  }
}
.siteList > li {
  margin-bottom: 20px;

}
@media(min-width:500px){
  .siteList > li {
    margin-right: 25px;
  }
}
.siteList .site {
  width: 166px;
  height: 141px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;

}
@media(min-width:500px) {
.siteList .site {
  cursor: pointer;
  }
}

.siteList .site > .logo {
  font-size: 72px;
  text-transform: uppercase;
}
.siteList .site > .close{
  position: absolute;
  right:0;
  top: 0;
  transform:rotate(45deg);/*别问问就是用add旋转了一下嘿嘿*/
}
@media(min-width:500px) {
  .siteList .site > .close{
  cursor: default;
  display: none;
  }
  .siteList .site:hover .close{
    display: block;
  }
}

.siteList .site > .link {

  font-size: 18px;
}

.siteList .addButton {
  width: 166px;
  height: 141px;
  background-color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
@media(min-width:500px){
  .siteList .addButton {
  cursor: pointer;
  }
}
.siteList .addButton .icon {
  width: 91px;
  height: 61px;
}
.siteList .addButton > .text {
  margin-top: 10px;
}
